{% extends 'base.html.twig' %}

{% block body %}
<ul class="list-group">
  <li class="list-group-item"> <a href="/login">Login</a></li>
  <li class="list-group-item"> <a href="/register">Register</a></li>
  <li class="list-group-item"> <a href="/admin">Admin</a></li>
  <li class="list-group-item"> <a href="/upload">Upload</a></li>
</ul>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 16px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a:hover { text-decoration: none; }
</style>
{% endblock %}
